div {
	background: 
		linear-gradient(135deg, #f7ebcc 25%, transparent 25%, transparent 75%, #f7ebcc 0%) 90px 90px,
		linear-gradient(135deg, #f7ebcc 25%, transparent 25%, transparent 75%, #f7ebcc 0%) 0px 0px,
		#654430;
}

div:before{
	display:block;
	width: 40px;
	height: 40px;
	border-radius: 28px;
	border: 3px #252324 solid;
	content: "";
	background: #5f5d5e;
	box-shadow: 0px 0px 0px 5px #5f5d5e;
	position: relative;

	top: 22px;
	left: 22px;
}

div:after{
	display:block;
	width: 40px;
	height: 40px;
	border-radius: 28px;
	border: 3px #252324 solid;
	content: "";
	background: #5f5d5e;
	box-shadow: 0px 0px 0px 5px #5f5d5e;
	position: relative;

	top: 67px;
	left: 112px;
}

